header {
    position: relative;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.btn-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}



#contatoButton {
    position: absolute;
    top: 78%;
    margin-left: 2%;
    border-radius: 40px;
    padding: 10px;
    width: 20%;
    background-color: rgba(32, 32, 31, 0.6);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
    cursor: pointer;
    box-shadow: black 0px 0px 20px 5px;
    transition-duration: 0.5s;
    border: none;
    text-decoration: none;
}

#homeDiv1 {
    position: relative;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 3%;
}

#homeTitle1 {
    float: left;
}

#homeText1 {
    font-weight: 100;
}

#homeImg1 {
    width: 40%;
    margin-right: 13%;
    float: right;
}

#homeDiv2 {
    position: relative;
    margin-top: 10%;
    margin-left: 15%;
}

#homeImg2 {
    width: 30%;
    float: left; ;
}

#homeTitle2 {
    float: right;
    margin-right: 49%;
}

#homeText2 {
    font-weight: 100;
    margin-right: 30%;
    float: right;
}

#paisagemHome {
    width: 60%;
    margin-top: 8%;
    margin-left: 20%;
    border-radius: 2%;
    box-shadow: black 0px 20px 40px 2px;
}

#ilustracoesHome {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

#contatoButton:hover {
    background-color: rgb(0, 0, 0);
}


#imagemTopo {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

#nieroLogo {
    position: absolute;
    top: 0;
    width: 15%;
}

#marcasHome {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
    width: 13%;
}

#navPrincipal {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(153, 143, 127, 0.6);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 1.2vw;
}

#navPrincipal li {
    display: inline;
}

#navPrincipal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

#navPrincipal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 50px;
    transition-duration: 0.5s;
}

#navPrincipal a:hover {
    background-color: rgb(126, 123, 114);
}

#servicosTitleCentro {
    margin-left: 60%;
    transform: translateX(-50%);
    margin-top: 2%;
}

#servicosDiv1 {
    margin-top: 5%;
}

#servicosDiv2 {
    margin-top: 26%;
}

#servicosImg1 {
    float: left;
    margin-left: 10%; 
    width: 20%;
}

#servicosTitle1 {
    float: right;
    margin-right: 40%;
    margin-top: 2%;
}

#servicosText1 {
    float: right;
    margin-right: 55%;
    font-weight: 100;
}

#servicosTitle2 {
    float: left;
    margin-left: 38%;
    margin-top: 2%;
}

#servicosImg2 {
    float: right;
    width: 25%;
    margin-right: 13%;
}

#servicosText2 {
    font-weight: 100;
    float: left;
    margin-left: 40%;
}

#servicosImg3 {
    margin-left: 10%;
    margin-top: 7%;
    width: 77%;
}

#servicosDiv3 {
    margin-top: 5%;
}

#servicosTitle3 {
    float: left;
    margin-left: 15%;
}

#servicosImg4 {
    float: right;
    margin-right: 16%;
    margin-top: 2%;
}

#servicosText3 {
    font-weight: 100;
    float: right;
    margin-right: 3%;
}

#servicosDiv4 {
    margin-top: 24%;
}

#servicosImg5 {
    float: left;
    width: 30%;
    margin-left: 12%;
    margin-top: 2%;
    
}

#servicosTitle4 {
    float: right;
    margin-right: 32%;
}

#servicosText4 {
    font-weight: 100;
    float: right;
    margin-right: 22%;
}

#servicosImg6 {
    position: relative;
    margin-top: 6%;
    margin-left: 50%;
    width: 72%;
    transform: translateX(-50%);
    box-shadow: black 0px 20px 40px 2px;
    border-radius: 9%;
    
}

#servicoButton {
    position: absolute;
    margin-left: 30%;
    margin-top: 2%;
    border-radius: 40px;
    padding: 10px;
    width: 40%;
    background-color: rgb(14, 56, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
    cursor: pointer;
    box-shadow: black 0px 0px 20px 5px;
    transition-duration: 0.5s;
    border: none;
}

#servicoButton:hover {
    background-color: rgb(45, 119, 51);
}

#contatoTitleCentro {
    margin-top: 3%;
    margin-left: 63%;
    transform: translateX(-50%);
}

#contatoImg {
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    box-shadow: black 0px 10px 30px 0px;
    border-radius: 20px;
}

#entreEmContatoButton {
    margin-top: 4%;
    margin-left: 39%;
    border-radius: 40px;
    padding: 10px;
    width: 22%;
    background-color: rgb(14, 56, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
    cursor: pointer;
    box-shadow: black 0px 5px 15px 5px;
    transition-duration: 0.5s;
    border: none;
}

#entreEmContatoButton:hover {
    background-color: rgb(45, 119, 51);
}


#blogTitleCentro {
    margin-left: 55%;
    transform: translateX(-50%);
    margin-top: 2%;
}

#blogText1 {
    margin-top: 3%;
    font-weight: 100;
    margin-left: 20%;
}

#andreyRef {
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
}

#patriciaRef {
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
}

#blogImgs {
    width: 61%;
    margin-left: 19%;
    margin-top: 3%;
}

#mapaNiero {
    margin-top: 5%;
    margin-left: 15%;
}

iframe {
    width: 80%;
    box-shadow: black 0px 15px 90px 0px;
    border-radius: 10px;
}

#preRodape {
    font-weight: 100;
    margin-left: 1%;
    margin-top: 10%;
}



footer {
    margin-top: 1%;
    background-color: #160635;
    width: 100%;
    height: 700px;
}

#nieroFooter {
    width: 15%;
    margin-top: 9%;
    margin-left: 5%;
    margin-bottom: 3%;
    bottom: -34%;
}

#infoRodape {
    width: 30%;
    margin-left: 45%;
    margin-bottom: 4%;
}

#decRodape2 {
    
    height: 1px;
    width: 100%;
    background-color: white;
}

#navRodape {
    
    margin-left: 17%;  
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 20px;
}

#navRodape li {
    display: inline;
}

#navRodape ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

#navRodape a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 50px;
    transition-duration: 0.5s;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

#navRodape a:hover {
    background-color: rgb(31, 31, 156);
}